* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 90%;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  padding: 25px;
  border-radius: 14px;
  color: white;
  font-size: 18px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.card p {
  font-size: 28px;
  font-weight: bold;
}

/* Card Colors */
.heart {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
}

.spo2 {
  background: linear-gradient(135deg, #56ccf2, #2f80ed);
}

.temp {
  background: linear-gradient(135deg, #f2994a, #f2c94c);
}
